<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kosareva Nikoleta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        <div class="buttons">
            {% if not current_user.is_authenticated %}
                <a href="/login" class="buttons2">Войти</a>
                <a href="/register" class="buttons2">Зарегистрироваться</a>
            {% endif %}
                <a href="/main" class="buttons2">На главную</a>
                <span class="username">{{username}}</span>
        </div>
        {% if username == 'nickoleta' %}
        <div class="buttons">
            <a href="/addbook" class="buttons2">Добавить книгу</a>
            <a href="/edit/" class="buttons2">Редактировать книгу</a>
            <a href="/delete" class="buttons2">Удалить книгу</a>
        {% endif %}
        {% if current_user.is_authenticated %}
            <a href="/logout" class="button">Выйти</a>
            {% if not username == 'nickoleta' %}
            <a href="/deleteacc" class="button">Удалить аккаунт</a>
            {% endif %}
        </div>
        {% endif %}
       
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>


    <footer class="footer">
        &copy; Kosareva Nikoleta, FBI-12, 3 course, 2023
    </footer>
</body>
</html>